{% extends 'layout/base.html' %}

{% block title %} 所有类别 - {{sitedata.site_name}}{% endblock title %}

{% load static %}


{% block meta_tags %}
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="description" content="所有类别, 获取所有类型的手表 {{sitedata.site_name}}">
<meta name="keywords" content="所有类别, {{sitedata.site_name}}, BRO-UNION WATCH WEBSITE, DIGITAL WATCH, FASHION WATCH, SPORTS WATCH, OEM WATCH, swoggerwatch.com, swogger watch">
<meta property="og:type" content="website">
<meta property="og:title" content="所有类别 - {{sitedata.site_name}}">
<meta property="og:description" content="所有类别, 获取所有类型的手表 {{sitedata.site_name}}">
{% endblock meta_tags %}


{% block article_content %}
<div class="main-product-container">

    <aside class="sidebar-main">

        <div class="sidebar-category">
            <div class="sidebar-category-heading">
                <strong>产品类别</strong>  
                <i class="fa-solid fa-bars"></i>
            </div>
                <ul class="sidebar-category-menu">
                    {% for category in category  %}
                    <li><a href="{% url 'category_detail' category.id %}" aria-label="Go to {{category.name}}" >{{category.name}}</a></li>
                    {% endfor %}
                </ul>
        </div>

        <div class="sidebar-contact-box" style="background-image: url('{{sitedata.sidebar_contact_banner.url}}');">
            <div class="sidebar-contact-box-icon">
                <i class="fa-solid fa-headset"></i>
            </div>
            <strong>我们可以帮助您</strong>
            <p>您可以通过任何您方便的方式联系我们。我们的员工始终通过电子邮件和短信在线。</p>
            <a href="{% url 'contact' %}" aria-label="Contact Us">联系我们</a>
        </div>

        <div class="sidebar-recent-product">
            <div class="sidebar-recent-heading">
                <i class="fa-solid fa-bars-progress"></i>
                <strong>新产品</strong>
            </div>
            {% for product in recentProduct|slice:"3"  %}
            <div class="sidebar-recent-box">
                <a href="{% url 'svg_icon_detail' product.slug %}" aria-label="{{product.title}}" class="sidebar-recent-box-img"><img src="{{product.product_images.first.image.url}}" title="{{product.title}}"></a>
                <div class="sidebar-recent-box-text">
                    <a href="{% url 'svg_icon_detail' product.slug %}" aria-label="{{product.title}}">{{product.title}}</a>
                    <span></span>
                    <span></span>
                </div>
            </div>
            {% endfor %}
        </div>

    </aside>
<section class="home-sections">
    <div class="main-heading-container">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#c80c24" viewBox="0 0 448 512"><path d="M160 80c0-26.5 21.5-48 48-48h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V80zM0 272c0-26.5 21.5-48 48-48H80c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V272zM368 96h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H368c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48z"/></svg>
        {% if group.heading %}
        <h3>{{group.heading}}</h3>
        {% else %}
        <h3>所有类别</h3>
        {% endif %}
    </div>


    <div class="popular-product-container category-container">
        {% for category in all_category %}
        <!--*box*-->
        <div class="r-product-box r-category-box">
            <!--img-->
            <a href="{% url 'category_detail' category.id %}" aria-label="{{category.name}}" class="r-product-img">
                <img src="{{category.category_box_image.url}}" alt="{{category.name}}"/>
            </a>
            <!--text-->
            <div class="r-product-text">
                <!--title-->
                <a href="{% url 'category_detail' category.id %}" aria-label="{{category.name}}" class="product-box-p-name">{{category.name}}</a>
            </div>
        </div><!--box-end-->
        {% endfor %}
    </div>

    {% if all_category|length < 1 %} <div class="search-not-found">
        <span style="color:red; font-size:0.8rem;">*尚未添加类别</span>
    {% endif %}
    

    <!--page-number=====================-->
<div class="page-number">
    {% if pagination.has_previous %}
    <a href="search?search={{search}}&page=1" aria-label="go to first page">&laquo;</a>
    <a href="search?search={{search}}&page={{pagination.previous_page_number}}" aria-label="go to previous page">以前的</a>
    {% endif %}

    {% if pagination.has_next %}    
    <a href="search?search={{search}}&page={{pagination.next_page_number}}" aria-label="go to next page">下一个</a>
    <a href="search?search={{search}}&page={{pagination.paginator.num_pages}}" aria-label="go to last page">&raquo;</a>
    {% endif %}
</div>


    </div>
</section>






    {% endblock article_content %}