{% extends 'layout/base.html' %} <!--get all content from base.html-->

{% load static %}

<!--==Title========================-->
{% block title %} {{staticpost.title}}{% endblock title %}


{% block meta_tags %}
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="description" content="{{staticpost.meta_desc}}">
<meta name="keywords" content="{{staticpost.meta_key}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{sitedata.site_url}}/{{staticpost.slug}}">
<meta property="og:title" content="{{staticpost.title}}">
<meta property="og:description" content="{{staticpost.meta_desc}}">
{% endblock meta_tags %}

<!--==Body=========================-->
{% block article_content %}


<!--==Static-page=========================-->
<div class="main-product-container">

    <aside class="sidebar-main">

        <div class="sidebar-category">
            <div class="sidebar-category-heading">
                <strong>Product Category</strong>  
                <i class="fa-solid fa-bars"></i>
            </div>
                <ul class="sidebar-category-menu">
                    {% for news in news|slice:":5" %}
                    <li><a href="{% url 'newspost' news.slug %}" aria-label="{{news.title}}">{{news.title}}</a></li>
                    {% endfor %}
                </ul>
        </div>

        <div class="sidebar-contact-box" style="background-image: url('{{sitedata.sidebar_contact_banner.url}}');">
            <div class="sidebar-contact-box-icon">
                <i class="fa-solid fa-headset"></i>
            </div>
            <strong>WE CAN HELP YOU</strong>
            <p>You can contact us at any way that is convenient for you. Our staffs are always online via E-mail and SMS.</p>
            <a href="{% url 'contact' %}" aria-label="contact us">Contact Us</a>
        </div>

        <div class="sidebar-recent-product">
            <div class="sidebar-recent-heading">
                <i class="fa-solid fa-bars-progress"></i>
                <strong>New Products</strong>
            </div>
            {% for product in recentProduct|slice:"3"  %}
            <div class="sidebar-recent-box">
                <a href="{% url 'svg_icon_detail' product.slug %}" aria-label="{{product.title}}" class="sidebar-recent-box-img"><img src="{{product.product_images.first.image.url}}" title="{{product.title}}"></a>
                <div class="sidebar-recent-box-text">
                    <a href="{% url 'svg_icon_detail' product.slug %}" aria-label="{{product.title}}">{{product.title}}</a>
                    <span></span>
                    <span></span>
                </div>
            </div>
            {% endfor %}
        </div>

    </aside>

<section class="static-page">

    <div class="static-container new-static-container">
        <div class="static-title">
            <span class="static-page-title-label">Title</span>
            <h1>{{staticpost.title}}</h1>
        </div>

        <div class="static-content">
            <p>{{staticpost.content| safe}}</p>

            <div class="news-navigation">
                {% if previous_post %}
                    <a href="{% url 'newspost' previous_post.slug %}" class="previous-link">Previous</a>
                {% endif %}
            
                {% if next_post %}
                    <a href="{% url 'newspost' next_post.slug %}" class="next-link">Next</a>
                {% endif %}
            </div>
        </div>


    </div>

</section>
</div>



{% endblock article_content %}