{% extends 'layout/base.html' %}

{% block title %}{{product.title}}{% endblock title %}

{% load static %}


{% block meta_tags %}
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="description" content="{{product.meta_desc}}">
<meta name="keywords" content="{{product.meta_key}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{sitedata.site_url}}{% url 'svg_icon_detail' product.slug %}">
<meta property="og:title" content="{{product.title}}">
<meta property="og:description" content="{{product.meta_desc}}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/cloud-zoom.css' %}">
<script src="{% static 'js/cloud-zoom.1.0.2.min.js' %}"></script>


{% endblock meta_tags %}


{% block article_content %}
<div class="main-product-container">

    <aside class="sidebar-main">

        <div class="sidebar-category">
            <div class="sidebar-category-heading">
                <strong>产品类别</strong>  
                <i class="fa-solid fa-bars"></i>
            </div>
                <ul class="sidebar-category-menu">
                    {% for category in category  %}
                    <li><a href="{% url 'category_detail' category.id %}" aria-label="{{category.name}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
        </div>

        <div class="sidebar-contact-box" style="background-image: url('{{sitedata.sidebar_contact_banner.url}}');">
            <div class="sidebar-contact-box-icon">
                <i class="fa-solid fa-headset"></i>
            </div>
            <strong>我们可以帮助您</strong>
            <p>您可以通过任何您方便的方式联系我们。我们的员工始终通过电子邮件和短信在线。</p>
            <a href="{% url 'contact' %}" aria-label="contact us">联系我们</a>
        </div>

        <div class="sidebar-recent-product">
            <div class="sidebar-recent-heading">
                <i class="fa-solid fa-bars-progress"></i>
                <strong>新产品</strong>
            </div>
            {% for product in recentProduct|slice:"3"  %}
            <div class="sidebar-recent-box">
                <a href="{% url 'svg_icon_detail' product.slug %}" aria-label="{{product.title}}" class="sidebar-recent-box-img"><img src="{{product.product_images.first.image.url}}" title="{{product.title}}"></a>
                <div class="sidebar-recent-box-text">
                    <a href="{% url 'svg_icon_detail' product.slug %}" aria-label="{{product.title}}">{{product.title}}</a>
                    <span></span>
                    <span></span>
                </div>
            </div>
            {% endfor %}
        </div>

    </aside>

    <div>
    <!--==Product-Details============================-->
    <section id="product_details">

        <!--**img*************-->
        <div class="d-product-img">
            {% if product.product_images.all %}
            <div style="width:100%" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    {% for images in product.product_images.all %}
                    <!-- <div class="swiper-slide product-img">
                        <img src="{{images.image.url}}" alt="{{product.title}}"/>
                    </div> -->
                    <div class="swiper-slide">
                        <a href='{{images.image.url}}' class='cloud-zoom' rel="position:'inside',showTitle:false,adjustX:-4,adjustY:-4"><img src="{{images.image.url}}" title="{{product.title}}" alt='{{product.title}}'/></a>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
              <div class="loupe"></div>
              <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {% for images in product.product_images.all %}
                    <div class="swiper-slide">
                        <img src="{{images.image.url}}" alt="{{product.title}}"/>
                    </div>
                    {% endfor %}
                </div>
              </div>
              {% endif %}
        </div>
        <!--**text************-->
        <div class="d-product-text">
            <!--category-->
            <div class="category-flex-container">
                {% for category in product.category.all %}
                    <span class="category">{{ category }}</span>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <!--title-->
            <strong>{{product.title}}</strong>
            <!--details-->
            <p><b>品牌: </b>{{product.brand}}</p>
            <p><b>模型: </b>{{product.model}}</p>
            <p><b>重量: </b>{{product.weight}}</p>
            <p><b>防水的: </b>{{product.waterproof}}</p>
            <p><b>特征: </b>{{product.feature}}</p>
            <!--price-->
            <span class="price"><span style="font-size:16px; font-weight:500;">价格：</span> {{product.price}}$</span>
            <div class="product-contact-btns">
                <a href="{% url 'contact' %}" aria-label="Inquire Now"><i class="fa-solid fa-comment"></i>立即咨询</a>
                <a href="{{sitedata.whatsapp_link}}" target="_blank" aria-label="Go to whatsapp"> <i class="fab fa-whatsapp"></i>WhatsApp</a>
                <a href="mailto:{{sitedata.email}}" > <i class="fa-solid fa-envelope" aria-label="Contact with email"></i>电子邮件</a>
            </div>
        </div>

    </section><!--details-end-->




    <section class="d-product-description">
        <h2>描述</h2>
        <p>{{product.details| safe}}</p>
    </section>

    <section class="d-product-show">
        <h2>产品展示</h2>
        {% for showImages in product.product_show_images.all %}
        <img src="{{showImages.image.url}}"  alt="产品展示"/>
        {% endfor %}
    </section>




</div>
</div>


{% endblock article_content %}

{% block body_script %}
<!--==Jquery====================-->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>


  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });


  </script>
{% endblock body_script %}