<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--==title============================-->
  <title>{% block title %}{% endblock title %}</title>
  {% block meta_tags %}{% endblock meta_tags %}
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{sitedata.site_name}}" />
  <!--==CSS==============================-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!--==Fav-icon=========================-->
  <link rel="shortcut icon" href="{{sitedata.fav_icon.url}}" />
  <!--==poppins===========================-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
   <!--==Using-Font-Awesome-for-Icons=====-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <!--==aos=============================-->
  <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
  <script src="{% static 'js/aos.js' %}"></script>
  {{sitedata.head_script|safe}}

  <!--==cutome-css========================-->
  <style>

    @media(max-width:1000px) {
      .scroll-up {
        bottom: 30px;
      }
    }

    {{sitedata.custome_css|safe}}
  </style>
</head>

<body id="main-body">
  <div class="{% block main_banner_class %}{% endblock main_banner_class %}">
  
      <input type="checkbox" id="searchshow">
      <label for="searchshow" class="search-container">
        <!--search-box-->
      <form action="{% url 'search' %}" class="header-container">
        <label for="searchshow" class="close-btn-search"><i class="fa-solid fa-xmark"></i></label>
          <div class="header-search">
          <!--input-->
          <input type="text" name="search" value="{{search}}" id="search" placeholder="START TYPING CHANGE TO: SEARCH YOUR WATCH..." required/>
          <!--button-->
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
      </form>
    </label for="searchshow">
        <!--==Header==============================-->
        <header id="header">
          <!--**Top****************-->
          <div class="header-top">
            <div class="header-top-content">
              <div class="header-top-contact">
              <div class="header-top-contact-box">
                <i class="fa-solid fa-envelope"></i>
                <span><a href="mailto:{{sitedata.email}}"  aria-label="email" title="{{sitedata.email}}" aria-label="Go to email">{{sitedata.email}}</a></span>
              </div>
              <div class="header-top-contact-box">
                <i class="fa-solid fa-phone"></i>
                <span><a href="tel:{{sitedata.phone}}"  aria-label="phone" title="{{sitedata.phone}}" aria-label="phone number">{{sitedata.phone}}</a></span>
              </div>
            </div>
              <!--track-->
              <div class="nav-social-icons" style="margin-right: auto; margin-left: 50px;">
               
                {% for social in sitedata.social_links.all|slice:"4"   %}
                <a href="{{social.link}}" target="_blank"  aria-label="{{social.name}}" title="{{social.name}}">
                  {{social.social_icon_code|safe}}
                </a>
              {% endfor %}
                
    
    </div>

              <!--search-->
              <label for="searchshow" style="color:#ffffff; cursor: pointer;"><i class="fa-solid fa-magnifying-glass"></i></label>
              <div class="language-dropdown-container language-dropdown-container2">
                <label for="language-dropdown-check" style="cursor: pointer; color:#ffffff; margin-left:14px; font-weight: 500; font-size: 0.8rem; user-select:none;">English/Chinese</label>
                <input type="checkbox" id="language-dropdown-check" value="none">
                <div class="language-dropdown">
                  <a href="/" aria-label="Go to english version">English</a>
                  <a href="https://www.bro-watch.cn">Chinese</a>
                </div>
              </div>
            </div>
          </div>
          <input type="checkbox" id="show-drop-collections">

          <nav class="navigation">
            
            <!--**menu-btn*******-->
            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="close-bg"></label>
            <label for="menu-btn" class="menu-icon">
                <span class="nav-icon"></span>
            </label>
            
            <!--**logo***********-->
            <a href="{% url 'index' %}" aria-label="{{sitedata.site_name}}" class="logo" title="{{sitedata.site_name}}">
              {% if sitedata.logo %}
              <img src="{{sitedata.logo.url}}" alt="{{sitedata.site_name}}">
              {% else %}
              <strong>{{sitedata.site_name}}</strong>
              {% endif %}
            </a>

            <div class="language-dropdown-container language-dropdown-container-mobile">
              <label for="language-dropdown-check2" style="cursor: pointer; color:#222222; margin-left:14px; font-weight: 600; font-size: 0.8rem; user-select:none;">EN/CN <i class="fa-solid fa-caret-down"></i></label>
              <input type="checkbox" id="language-dropdown-check2" value="none">
              <div class="language-dropdown">
                <a href="/" aria-label="Go to english version">English</a>
                <a href="https://www.bro-watch.cn">Chinese</a>
              </div>
            </div>

            
            
            <!--**menu***********-->
            <div class="menu-container">
            <ul class="menu">
              <li><a href="/" class="{% if request.path == '/' %}active{% endif %}" aria-label="go to home page">Home</a></li>
              <li class="nav-drop-down">
                <div class="show-drop-collections"><a href="{% url 'allproducts' %}">Product</a> <label for="show-drop-collections"><i class="fa-solid fa-chevron-down"></i></label></div>
                <div class="drop-collections" id="drop-collections">
                  <strong class="drop-collections-heading">{{sitedata.nav_products_section_heading}}</strong>  
                  <div class="drop-collections-menu">
                      {% for category in sitedata.nav_products_list.all  %}
                    <a  href="{% url 'category_detail' category.id %}" class="nav-drop-box">
                      <div class="drop-box-img">
                        <img src="{{category.category_box_image.url}}" alt="{{category.name}}"/>
                      </div>
                      <div class="drop-box-text">
                        <strong>{{category.name}}</strong>
                      </div>
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </li>
              {% for menu in sitedata.menu_list.all %}
                <li><a class="{% if request.path == menu.link %}active{% endif %}" href="{{menu.link}}" aria-label="go to {{menu.name}}">{{menu.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </nav>

        <div class="product-bg"></div>
      </header>


  {% block home_main %}{% endblock home_main %}
</div>
  {% if sitedata.show_ads == True %}
  <div class="header-ad ads">{{ads.head_ad|safe}}</div>
  {% endif %}

  <!--==Content==============================-->
  <div>
    <!--**main******-->
    <main class="main">
      <article {% block article_class %}{% endblock article_class %}>
        {% block article_content_full_top %}{% endblock article_content_full_top %}
        <div class="content-container">
          {% block article_content %}{% endblock article_content %}
        </div>
      </article>
    </main>
  </div>

  {% if sitedata.show_ads == True %}
  <div class="header-ad ads footer-ad">{{ads.footer_ad|safe}}</div>
  {% endif %}

   <!--==Footer=================================-->
   <footer>

    <!--**container***********************-->
    <div class="footer-container">

        <!--**company**-->
        <div class="footer-company-box" data-aos="fade-right">
            <!--logo-->
            <a href="#" aria-label="{{sitedata.site_name}}" class="footer-logo">
              <img src="{{sitedata.white_text_logo.url}}" alt="{{sitedata.site_name}}">
            </a>
            <!--details-->
            <p>{{sitedata.meta_desc}}</p>
            <!--social-box-->
            <div class="footer-social">
              {% for social in sitedata.social_links.all  %}
                <a href="{{social.link}}" target="_blank"  aria-label="{{social.name}}" title="{{social.name}}">
                  {{social.social_icon_code|safe}}
                </a>
              {% endfor %}
        
            </div>
        </div>

        <!--**link-box**-->
        <div class="footer-link-box" data-aos="fade-right">
            <strong>{{footer_heading.main_heading}}</strong>
            <ul>
              <li><a href="/" aria-label="go to home page">Home</a></li>
              {% for menu in sitedata.menu_list.all  %}
                <li><a href="{{menu.link}}" aria-label="go to {{menu.name}}">{{menu.name}}</a></li>
              {% endfor %}           </ul>
        </div>

        <!--**link-box**-->
        <div class="footer-link-box" data-aos="fade-right">
            <strong>{{footer_heading.product_heading}}</strong>
            <ul>
              {% for category in sitedata.nav_products_list.all  %}
                    <li><a  href="{% url 'category_detail' category.id %}">
                     {{category.name}}  
                    </a></li>
              {% endfor %}
            </ul>
        </div>

        <!--**subscribe**-->
        <div class="footer-subscribe" data-aos="fade-right">
            <strong>{{footer_heading.contact_heading}}</strong>
            <div class="footer-subscribe">
              <div class="footer-contact-box">
                <i class="fa-solid fa-envelope"></i>
                <span>{{sitedata.email}}</span>
              </div>
              <div class="footer-contact-box">
                <i class="fa-solid fa-phone"></i>
                <span>{{sitedata.phone}}</span>
              </div>
              <div class="footer-contact-box">
                <i class="fa-solid fa-location-dot"></i>
                <span>{{sitedata.address}}</span>
              </div>
            </div>
        </div>

    </div><!--container-end-->

    <!--**bottom********************-->
    <div class="footer-bottom">

        <div class="footer-bottom-link">
          <a href="/privacy-policy">Privacy</a>
          <a href="/terms-and-conditions">Terms</a>
          <a href="/disclaimer">Disclaimer</a>
        </div>

        <span class="footer-owner">Made By {{sitedata.site_name}}</span>
        <span class="copyright">© {{sitedata.copyright}} - {{sitedata.site_name}}</span>
    </div>

</footer>

  <!--==scroll-top=======================-->
  <button onclick="scrollToTop()" id="scroll-btn" class="scroll-up hide" aria-label="Top">
    <svg xmlns="http://www.w3.org/2000/svg" height="0.9em" viewBox="0 0 448 512">
      <path
        d="M201.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 173.3 54.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"
        fill="#ffffff" />
    </svg>
  </button>



  <script>
    /*==scroll-to-top===================*/
    body = document.getElementById("main-body");
    myID = document.getElementById("scroll-btn");
    header = document.getElementById("header");
    const checkbox = document.getElementById('language-dropdown-check');
    var myScrollFunc = function () {
      var y = window.scrollY;
      if (y >= 200) {
        myID.className = "scroll-up show"
      } else {
        myID.className = "scroll-up hide"
      }
      if (y >= 200) {
        header.className = "fixed"
        body.className = "fixedbody"
        checkbox.checked = false;
      } else {
        header.className = ""
        body.className = ""
      }
    };
    window.addEventListener("scroll", myScrollFunc);

    function scrollToTop() {
      window.scrollTo(0, 0);
    }

    document.addEventListener('DOMContentLoaded', function() {
  const label = document.querySelector('.nav-drop-down');
  const productBg = document.querySelector('.product-bg');
  const checkbox = document.getElementById('show-drop-collections');
  const navproduct = document.getElementById('drop-collections');

  

  // Show productBg when hovering over the label
  label.addEventListener('mouseenter', function() {
    productBg.style.display = 'block';
    if (window.innerWidth > 1000) {
    navproduct.style.display = 'block';
    }
  });

  
  navproduct.addEventListener('mouseenter', function() {
    if (window.innerWidth > 1000) {
    navproduct.style.display = 'block';
    }
  });
  navproduct.addEventListener('mouseleave', function() {
    if (!checkbox.checked & window.innerWidth > 1000) {
      navproduct.style.display = 'none';
    }
  });

  // Hide productBg when the mouse leaves the label or productBg
  label.addEventListener('mouseleave', hideProductBgIfUnchecked);
  productBg.addEventListener('mouseleave', hideProductBgIfUnchecked);

  function hideProductBgIfUnchecked() {
    if (!checkbox.checked) {
      productBg.style.display = 'none';
    }
  }
});

AOS.init();


  </script>

  {{sitedata.bodyend_script|safe}}

  {% block body_script %}{% endblock body_script %}

</body>

</html>